In [1]:
import pandas as pd

# Load a game
df = pd.read_parquet('data/ab2-ab2-mini-10k/0a0bedaa-d316-4eee-9eb1-981ecbcbd96a.parquet')

# Check dimensions
print(df.shape)

# Get feature columns
features = [c for c in df.columns if c.startswith('F_')]
tensors = [c for c in df.columns if c.startswith('BT_')]
actions = ['ACTION', 'ACTION_TYPE']
rewards = ['RETURN', 'TOURNAMENT_RETURN']

# Training data
X = df[features + tensors]  # or df[tensors] for CNN
y = df['ACTION']  # or df['RETURN'] for value prediction

(32, 3964)

In [2]:
df[rewards]

    RETURN  TOURNAMENT_RETURN
0     -1.0        -993.084885
1      1.0        1009.878735
2     -1.0        -993.084885
3      1.0        1009.878735
4      1.0        1009.878735
5     -1.0        -993.084885
6     -1.0        -993.084885
7     -1.0        -993.084885
8      1.0        1009.878735
9     -1.0        -993.084885
10     1.0        1009.878735
11     1.0        1009.878735
12    -1.0        -993.084885
13     1.0        1009.878735
14     1.0        1009.878735
15     1.0        1009.878735
16     1.0        1009.878735
17    -1.0        -993.084885
18     1.0        1009.878735
19     1.0        1009.878735
20    -1.0        -993.084885
21    -1.0        -993.084885
22    -1.0        -993.084885
23     1.0        1009.878735
24     1.0        1009.878735
25    -1.0        -993.084885
26     1.0        1009.878735
27     1.0        1009.878735
28     1.0        1009.878735
29    -1.0        -993.084885
30    -1.0        -993.084885
31    -1.0        -993.084885

In [6]:
import os

directory_path = "data/ab2-ab2-mini-10k"  # Replace with your directory path
number_of_elements = len(os.listdir(directory_path))
print(f"Number of elements in the directory: {number_of_elements}")

Number of elements in the directory: 10000

In [7]:
num_samples = 100
tot_rows = 0
for file in os.listdir(directory_path)[:num_samples]:
    df = pd.read_parquet(os.path.join(directory_path, file))
    tot_rows += df.shape[0]
print(f"Total rows: {tot_rows}")
print(f"Average rows: {tot_rows / num_samples}")

Total rows: 3259
Average rows: 32.59

In [ ]:
from catanatron.gym.envs.catanatron_env import ACTIONS_ARRAY, ACTION_SPACE_SIZE
import collections

print(f'Action space size: {ACTION_SPACE_SIZE}')
print(f'Total actions in array: {len(ACTIONS_ARRAY)}')

counts = collections.Counter([(action[0].name if hasattr(action[0], 'name') else action[0]) for action in ACTIONS_ARRAY])
print('\nAction counts by type:')
for action_type, count in sorted(counts.items()):
    print(f'  {action_type}: {count}')

Action space size: 290
Total actions in array: 290

Action counts by type:
  BUILD_CITY: 54
  BUILD_ROAD: 72
  BUILD_SETTLEMENT: 54
  BUY_DEVELOPMENT_CARD: 1
  DISCARD: 1
  END_TURN: 1
  MARITIME_TRADE: 60
  MOVE_ROBBER: 19
  PLAY_KNIGHT_CARD: 1
  PLAY_MONOPOLY: 5
  PLAY_ROAD_BUILDING: 1
  PLAY_YEAR_OF_PLENTY: 20
  ROLL: 1